In [ ]:
# Python (Open source)

In [ ]:
# data -> SQL , Python and Spark -> scala, java   ->pyspark

In [5]:
print("Hello World")

Hello World

In [6]:
print("Hello", "World")

Hello World

In [8]:
print('hello', "World")
print("Wellcome to Python")

hello World
Wellcome to Python

In [9]:
print('hello', "World"  , end=" ")
print("Wellcome to Python")

hello World Wellcome to Python

In [10]:
print(
    """
   This code is on mlti lines
   welcome to python
 """
)

   This code is on mlti lines
   welcome to python

In [11]:
# comment -> Note 
print("Wellcome to Python")

Wellcome to Python

In [12]:
print("Wellcome to Python")  # comment -> Note

Wellcome to Python

In [ ]:
print("Wellcome to Python")   # comment -> Note

SyntaxError: invalid syntax (666012464.py, line 1)

In [ ]:
# netsalary = grosssalary - tax - loan
# epchs = 15 #

In [ ]:
# variable -> labeled box (number, string, boolean, llist, set, dictionary)

In [ ]:
age = 26  # int # auto detect
age = 26.0   #float
age = "26"   #string text
age = True   #boolean 
list = [1,2,3,4,5, "Ahmed"]
set = {1,2,2,4,5, "Ahmed"}
dictionary = {"Name": "Ahmed" , "Age": 26}
dictionary = {Key: Value}

In [17]:
sales = 250
name = "Moahamed"
age = 25.0
is_married = False

print(type(sales))
print(type(name))
print(type(age))
print(type(is_married))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [ ]:
age = "Ahmed"   # overwrite value , datatype

In [ ]:
sales = 250
name = "Moahamed"
age = "25"
is_married = False


age = int(age) + 1
print(age)
print(type(age))

# str -> int 
# float -> int
# boolean -> int
# str -> boolean

26
<class 'int'>

In [26]:
input_text = "25A"   # "25" -> 25


input_text = float(input_text)
print(type(input_text))

ValueError: could not convert string to float: '25A'

In [28]:
text = ""  # " "  0> True ""

text = bool(text)

print(text)
print(type(text))

False
<class 'bool'>

In [29]:
message = input()

In [31]:
name = input()
age = input()

print(name)
print(age)

ahmed
25

In [35]:
name = input("Enter you name")  #string
age = int(input("Enter your Age"))

print(name)
print(age + 1)

print(type(name))
print(type(age))

Mohamed
27
<class 'str'>
<class 'int'>

In [ ]:
salary = 21542
Name = "Mohamed"

In [36]:
# snake form 

full_name ="Mohamed Hamed"
student_full_name = "Mohamed Hamed"


# camel form

fullName = "Ahmed"
studentFullName = "Mohamed Hamed"

# pascal form

FullName = "Mona"
StudentFullName = "Mohamed Hamed"

print(full_name)
print(FullName)

Mohamed Hamed
Mona

In [37]:
age = 26
Age = 27

print(age)
print(Age)

26
27

In [ ]:
# letter or under score

Fullname = "Mohamed"
fullname = "Mohamed"
_full_name = "Mohamed"
full_name123 = "Mohamed"

In [40]:
# task1 

# create 3 vaeriable includeing your name, age, faculty  
# input from user
# print()

full_name = input("Enter your full name: ")
age = int(input("Enter you age: "))
faculty = input("Enter your faculty: ")

print("Full name is" , full_name)
print(age)
print(faculty)

Full name is Mohamed
26
cairo

In [44]:
# fstring
age = 30
full_name = "Mohamed Hamed"
print(f"Full name is {full_name} The age of student is {age}")

Full name is Mohamed Hamed The age of student is 30

In [51]:
sales1 = 250
sales2 = -36.154
sales3 = 12345.6547

print(f"sales1 is {sales1:.3f}")
print(f"sales2 is {sales2}")
print(f"sales3 is {sales3:.2f}")

sales1 is 250.000
sales2 is -36.154
sales3 is 12345.65

In [54]:
sales1 = 250
sales2 = -36.154
sales3 = 12345.6547

print(f"sales1 is {sales1:10}")
print(f"sales2 is {sales2:10}")
print(f"sales3 is {sales3:10}")

sales1 is        250
sales2 is    -36.154
sales3 is 12345.6547

In [55]:
sales1 = 250
sales2 = -36.154
sales3 = 12345.6547

print(f"sales1 is {sales1:010}")
print(f"sales2 is {sales2:010}")
print(f"sales3 is {sales3:010}")

sales1 is 0000000250
sales2 is -00036.154
sales3 is 12345.6547

In [56]:
sales1 = 250
sales2 = -36.154
sales3 = 12345.6547

print(f"sales1 is {sales1:^10}")
print(f"sales2 is {sales2:^10}")
print(f"sales3 is {sales3:^10}")

sales1 is    250
sales2 is  -36.154
sales3 is 12345.6547

In [58]:
sales1 = 250
sales2 = -36.154
sales3 = 12345.6547

print(f"sales1 is {sales1:>10}")
print(f"sales2 is {sales2:>10}")
print(f"sales3 is {sales3:10}")

sales1 is        250
sales2 is    -36.154
sales3 is 12345.6547

In [59]:
sales1 = 250
sales2 = -36.154
sales3 = 12345.6547

print(f"sales1 is {sales1:+10}")
print(f"sales2 is {sales2:+10}")
print(f"sales3 is {sales3:+10}")

sales1 is       +250
sales2 is    -36.154
sales3 is +12345.6547

In [ ]:
# MAth functions

num1 = 36
num2 = 5


print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)
print(num1 // num2)
print(num1 % num2)   # = 25 = 10 + 10 + 5
print(num2 ** 2)

41
31
180
7.2
7
1
25

In [77]:
num1 = - 36.1

print(round(num1))   # 1,4  , 5-9 +1
print(pow(2,3))
print(abs(num1))

-36
8
36.1

In [ ]:
import math


num1 = 36.9

print(math.ceil(num1))   # 1
print(math.floor(num1))   # 0
print(math.fabs(num1))   # 0
print(math.sqrt(25))   
print(math.pi)
print(math.e)

37
36
36.9
5.0
3.141592653589793
2.718281828459045

In [ ]:
# Task 2
# Find the area of the circule 
# ask the user to enter radius
# print the area # postive

In [85]:
# area = radius **2 * pi



radius = float(input("Enter the radius: "))

area = math.pow(radius,2) * math.pi

print(f"The area of the circle is {area:.2f}")
print(f"The area of the circle is {math.ceil(area)}")

The area of the circle is 1963.50
The area of the circle is 1964

In [86]:
# total amount = quantitity * price 


quantity = int(input("Enter the quantity: "))
price = int(input("Enter the price: "))

total_amount = quantity * price

print(f"The total amount is {total_amount:.2f}")

The total amount is 250.00

In [87]:
# find the reactangle area

length = float(input("Enter the length: "))
width = float(input("Enter the width: "))

area = length * width

print(f"The area of the rectangle is {area:.2f}")

The area of the rectangle is 20.00

In [90]:
# if statement  condition
age = 15

if age > 18 :  # true, false
    print("You can vote")

In [95]:
# if statement  condition
age = 26

if age > 18 :  # true, false
    print("You can vote")
    print(age) 
else:
    print("You can not vote")

You can vote
26

In [99]:
age = 17

if age > 18 :  # true, false
    print("You can vote")

elif age == 17:
    print("You can vote next year")

elif age == 17:
    print("you are 17")

else:
    print("You can not vote")

You can vote next year

In [ ]:
if age > 18 :  # true, false
    print("You can vote")
 

if age == 17:
    print("You can vote next year")    

if age == 17:
    print("You can vote next year")

You can vote next year
You can vote next year

In [ ]:
# nested if statment

age = 17


if age > 18 :
    if age == 26 :
      print("You are 26")

    else:
      print("You are not 26")

In [108]:
# task3
# calaucaltor program
# ask the user to enter two number
# ask the user to enter the operator
# print the result
# +, -, *, /
# if the operator is not valid print invalid operator


num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
operator = input("Enter the operator: ")


if operator == "+":
    print(num1 + num2)

elif operator == "-":
    print(num1 - num2)

elif operator == "*":
    print(num1 * num2)

elif operator == "/":
    print(num1 / num2)

else:
    print("Invalid operator")

Invalid operator

In [ ]:
age = 16 
is_student = False
name = "Mohamed"

if age < 22 and is_student == True and name == "Mohamed":
    print("You are student")


if age < 22 or is_student == True or name == "Mohamed":
    print("You are student")    


if not is_student == True: # False  -> True
    print("You are student")

You are student
You are student

In [121]:
age = 26
is_student = False
if age > 22 :
    is_student = False
else : 
    is_student = True    

print(is_student)

False

In [124]:
is_student =  False if age > 22 else True
type_of_number = "Even" if 4 %2 == 0 else "Odd"

print(type_of_number)

Even

In [ ]:
is_student = False if age > 22 else True

type_of_number = "Even" if 5 %2 == 0  else "Odd"  # string
print(type_of_number)

Odd

In [ ]:
# loops and strings

In [ ]:
# loop -> repeat function task print

print("Welcome1")
print("Welcome2")
print("Welcome3")
print("Welcome4")
print("Welcome5")

In [ ]:
# for   -> num of steps action 5 times 
# while   -> condtion

In [ ]:
# range(5)  -> [0,1,2,3,4]
# list_of_name = ["Ahmed", "Shahd", "Nada"]

In [127]:
for i in range(5):
    print("Welcome")

Welcome
Welcome
Welcome
Welcome
Welcome

In [128]:
list_of_name = ["Ahmed", "Shahd", "Nada"]

for name in list_of_name:
    print(name)

Ahmed
Shahd
Nada

In [131]:
# range(start, end, step)

for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [ ]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [ ]:
for i in range(-10,-1,1):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2

In [ ]:
# nested loop
for i in range(5):  #0 1 
    for j in range(3): # 0 1 2 
        print(i, j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2
3 0
3 1
3 2
4 0
4 1
4 2

In [138]:
for i in range(10):  
    for j in range(10): 
        if j > i:
            print("*" ,end=" ")
    print()

* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [139]:
for i in range(10):  
    for j in range(10): 
        if j < i:
            print("*" ,end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

In [140]:
count = 0

while count < 5:
    print(count)
    count +=1

0
1
2
3
4

In [ ]:
# infinity loop
count = 1
while count > 0:
    print(count)

In [1]:
count = 0 

while True:
    count += 1
    print(count)

    if count == 5:
        break # stop the loop

1
2
3
4
5

In [ ]:
count = 0 

while True:
    count += 1

    if count == 5:
        break # stop the loop    
    if count == 2:
        continue # stop the round

    print(count)

1
3
4

In [ ]:
count = 0
while True: # true or false  0-> true 1-> true 5-> false
    count += 1
    print(count)

1
2
3
4
5

In [ ]:
while False: # true or false  0-> true 1-> true 5-> false
    count += 1
    print(count)

In [6]:
text = "" 
while True :
    text = input("Enter the text: ")
    if text == "q":
        break
    print(text)

Ahmed
Mohamed
Sayed

In [21]:
# Task 4
# Create a Stop Watch by seconds
import time

seconds = int(input("Enter num of seconds"))

for i in range (seconds, 0, -1):
    second = i %60
    minute = i // 60
    print(f"Seconds left: 00:{minute:02d}:{second:02d}")
    time.sleep(1)

print("Time's up")

Seconds left: 00:00:05
Seconds left: 00:00:04
Seconds left: 00:00:03
Seconds left: 00:00:02
Seconds left: 00:00:01
Time's up

In [29]:
# String

message = "Welcome"
# ['w', 'e','l','o','m','e']

print(message[2])
print(message[0:2])
print(message[:5])
print(message[5:])
print(message[1:5:2])
print(message[-1])
print(message[::-1])

l
We
Welco
me
ec
e
emocleW

In [49]:
message = "  welcome-to-Python  "

print(len(message))
print(message.count("e"))
print(message.find("z"))
print(message.rfind("e"))
print(message.upper())
print(message.lower())
print(message.capitalize())
print(message.title())
print(message.split("-"))
print(message.replace("e", "Z"))
print(message.startswith("welcome"))
print(message.endswith("Python5"))
print(message.strip())

21
2
-1
8
  WELCOME-TO-PYTHON
  welcome-to-python
  welcome-to-python
  Welcome-To-Python
['  welcome', 'to', 'Python  ']
  wZlcomZ-to-Python
False
False
welcome-to-Python